.nav-bar a{
    text-decoration: none;
    margin-right:18px;
    font-size: 18px;
    color:#0e1133;
}
.nav-bar {
    background-color: transparent;
    padding: 0 90px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
}