.social-icon {
    color: white;
    font-size: 20px;
}


.links{
    padding: 0;
    margin: 0;
}
.links li {
    list-style: none;
}

.links li a{
    text-decoration: none;
    color: #53545b;
}
.text-color {
    color: #53545b;
    width: 70%;
}
.input-fluid input{
    width: 100%;
    border:1px solid #c0c0c0;
    padding: 15px 10px;
}
.input-fluid {
    position: relative;
    width:80%;
}
.input-fluid button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30%;
    border-radius: 0%;
}

.social-icons {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 2px;
    cursor: pointer;
}

.socialContainer div:nth-child(1) {
    background-color: #285da1;
    border: 2px solid transparent;
    transition: all .3s;
}
.socialContainer div:nth-child(1):hover {
    background-color: white;
    border-color: #285da1;
}
.socialContainer div:nth-child(1):hover svg {
    color: #285da1;
}
.socialContainer div:nth-child(2) {
    background-color: #03a9f4;
    border: 2px solid transparent;
    transition: all .3s;
}
.socialContainer div:nth-child(2):hover {
    background-color: white;
    border-color: #03a9f4;
}
.socialContainer div:nth-child(2):hover svg {
    color: #03a9f4;
}
.socialContainer div:nth-child(3) {
    background-color: #d2173f;
    border: 2px solid transparent;
    transition: all .3s;
}
.socialContainer div:nth-child(3):hover {
    background-color: white;
    border-color: #d2173f;
}
.socialContainer div:nth-child(3):hover svg {
    color: #d2173f;
}